<nav class="top-navbar" role="navigation" aria-label="main navigation">
    <menu>
        <li class="navbar-brand">
            <a href="/">Billy Bones</a>
        </li>
        <%# TODO: add mobile view %>
        <% if current_user %>
            <li><a href="/expenses" up-follow><%= model_name Expense, plural: true %></a></li>
            <li><a href="/payment_methods" up-follow><%= model_name PaymentMethod, plural: true %></a></li>
            <li><a href="/categories" up-follow><%= model_name Category, plural: true %></a></li>
            <li>
                <% if current_user.picture %>
                    <img src="<%= current_user.picture %>" alt="User avatar">
                <% end %>
                <span><%= current_user.name %></span>
            </li>
        <% else %>
            <li><a href="/login" class="navbar-item">Log in</a></li>
        <% end %>
    </menu>
</nav>
