- form_opts ||= {}

#confirm_form
  - method = 'POST'
  - if unpoly?
    - form_opts.reverse_merge!('up-target': 'main, #flashes', 'up-layer': 'root')
  form *form_opts action=action method=method
    == csrf_tag(action, method)
    p.is-size-5.my-1= message
    .field.buttons
      button.button class=mode = I18n.t('yes')
      a.button.is-warning href="#{referrer}" up-dismiss=true = I18n.t('no')
