#expense_form
  - form({ method: :post, action: action, 'up-target': 'main, #flashes', 'up-fail-target': 'form', 'up-layer': 'root' }, obj: @form_data, errors: @form_errors.to_h) do |f|
    .field
      label.label= field_name(Expense, :period)
      .field-group
        == f.input(:period_year, type: :select, options: 0.downto(-2).map { |e| Date.today.year + e }, required: true, wrapper: nil)
        == f.input(:period_month, type: :select, options: month_names.each_with_index.reject { |e, _i| e.nil? }, required: true, wrapper: nil)
    == f.input(:cost, label: field_name(Expense, :cost), placeholder: '0.00')
    == f.input(:category_id, type: :select, options: category_options_for_expenses, label: field_name(Expense, :category))
    == f.input(:comment, type: :textarea, label: field_name(Expense, :comment))
    == f.button(value: t('actions.save'), formatter: :default, class: 'button success')
