section.grid-cell
  header
    == partial 'expenses/pay_checkbox', locals: { expense: expense }
    span.cell-category= expense.category ? category_title(expense.category) : '—'
    span.cell-period= I18n.l expense.period, format: :period
    = expense.status_tag
  .content
    dl
      dt= field_name Expense, :cost
      dd= expense.cost

      - if expense.paid?
        dt= field_name Expense, :paid_at
        dd= expense.paid_at

        dt= field_name Expense, :payment_method
        dd= expense.payment_method.name

  .card-footer== partial 'expenses/index_action_buttons', locals: { expense: expense }
