- unpoly_args = {'up-follow': true, 'up-layer': 'new', 'up-history': 'false'}

.buttons
  a href=expense_edit_path(expense) *unpoly_args =t('actions.edit')
  a.danger href="/expenses/#{expense.id}/delete" *unpoly_args =t('actions.delete')
