#pay_form data={controller: 'pay-form', 'pay-form-pay-button-outlet': '#bills_view'}
  h2.is-size-4= @title

  - form({ method: :post, action: @form_action, 'up-target': ':main, #flashes', 'up-fail-target': '#pay_form', 'up-layer': 'root' }, obj: @form_data, errors: @form_errors.to_h) do |f|
    == f.input(:bill_ids, type: :hidden, data: {'pay-form-target': 'billIdsInput'})
    == f.input(:paid_at, type: :date, required: true, label: field_name(Expense, :paid_at))
    == f.input(:payment_method_id, type: :select, label: field_name(Expense, :payment_method), options: PaymentMethod.order(:name).map { |pm| [pm.name, pm.id] }, required: true)
    == f.button(value: 'Save', formatter: :default, class: 'fg-success')
