- if expense.paid?
  / "\u00A0"
- else
  label.checkbox
    input data={'pay-button-target': 'checkbox', action: 'change->pay-button#controlButton'} class="expense-id-checkbox" type="checkbox" name="bill_ids" value=expense.id
