tr class=expense_class(expense)
  td.is-narrow== partial 'expenses/pay_checkbox', locals: { expense: expense }
  td= expense.id
  td= expense.status_tag
  td= expense.period.strftime('%b %Y')
  td.has-text-right= format '%.02f', expense.cost
  td= category_title(expense.category) if expense.category
  td= expense.payment_method&.name
  td= expense.paid_at
  td== partial 'expenses/index_action_buttons', locals: { expense: expense }
