table.table.is-fullwidth#bills_view__table
  thead
    th
    th #
    th= field_name Expense, :state
    th= field_name Expense, :period
    th= field_name Expense, :cost
    th= field_name Expense, :category
    th= field_name Expense, :payment_method
    th= field_name Expense, :paid_at
    th
  tbody
    == each_partial @expenses, 'expenses/table_row', local: :expense
