- view_target = EXPENSES_VIEWS.map { |v| "\#bills_view__#{v}" }.join(', ')

#bills_view data-controller="pay-button"
  .buttons
    a href="/expenses/new" up-target="main" up-layer="new" up-history="false" = t('actions.new')
    button#pay_button.button.is-success data-pay-button-target="payButton" up-follow=true up-href="/expenses/pay" up-target="#pay_form" up-layer='new' = t('actions.mark_as_paid')

  menu
    - EXPENSES_VIEWS.each do |view|
      li class=('selected' if expenses_view == view)
        a href=expenses_index_path(view_as: view) up-follow=true  = view.capitalize

  == paginate @scope, 'up-target': view_target, 'up-restore-scroll': 'true'
  #bills_view_inner== partial "expenses/#{expenses_view}"
