#filter_form
  - form(@filter, { method: :get, action: '', 'up-submit': true, class: 'form-horizontal' }, prefix: :q) do |f|
    == f.input(:period_year, type: :select, options: [''] + ((@min_period.year)..(@max_period.year)).map(&:to_s), label: t('period_year'))
    == f.input(:state, type: :select, options: ['', 'init', 'paid'], label: field_name(Expense, :state))
    == f.input(:payment_method_id, type: :select, options: [''] + PaymentMethod.order(:name).map { |pm| [pm.name, pm.id] }, label: field_name(Expense, :payment_method))
    == f.input(:category_id, type: :select, options: category_options_for_expenses, label: field_name(Expense, :category))
    .buttons
      == f.button(value: t('actions.apply'), wrapper: nil, formatter: :default, class: 'button is-success')
      a.danger up-follow=true type='reset' href=expenses_index_path =t('actions.reset')

== render 'expenses/_view'
