.form-container
  - form_opts = { method: :post, action: path }
  - form_opts.merge!('up-target': 'main, #flashes', 'up-layer': 'root') if unpoly?
  - form(form_opts, obj: @form_data, errors: @form_errors) do |f|
    == f.input(:name, required: true, label: field_name(PaymentMethod, :name))
    == f.button(value: submit_text, formatter: :default, class: 'button is-success')
