.buttons
  a href="/payment_methods/new" up-layer="new" up-history="false" =t('actions.new')

ul.list-grid.items-list
  - @list.each do |payment_method|
    li
      span= payment_method.name
      .buttons
        a href=edit_payment_method_path(payment_method.id) *MODAL_LINK_ATTRS = t('actions.edit')
        / = link_to 'Delete', payment_method_path(payment_method.id), data: { method: :delete, confirm: 'Are you sure?' }, class: %w[button is-danger]

