<!DOCTYPE html>
<html lang="en">
    <% unless unpoly? %>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title><%= title %></title>

            <% @extra_meta.to_h.map do |name, value| %>
                <meta name="x:<%= name %>" content="<%= value %>">
            <% end %>

            <%# TODO: Vendor maybe %>
            <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
            <script src="https://cdn.jsdelivr.net/npm/unpoly@3.9.0/unpoly.js"></script>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/unpoly@3.9.0/unpoly.min.css">

            <link rel="stylesheet" href="/app.css">

            <script type='importmap'>
                <%# TODO: Generate from somewhere, and/or maybe vendor %>
            {
                "imports": {
                        "@hotwired/stimulus": "https://esm.sh/v135/@hotwired/stimulus@3.2.2"
                }
            }
            </script>
            <script type="module" src="/app.js"></script>
        </head>
    <% end %> 

    <body>
        <% unless unpoly_fragment? %>
            <header class="container">
                <%= render 'shared/_header', engine: 'erb' %>
            </header>
        <% end %>

        <section id="flashes" class="container">
            <div id="flashes">
                <%- flash_tags.each do |tag| %>
                    <%= tag %>
                <% end -%>
            </div>
        </section>

        <% if !unpoly? || unpoly_mode == 'root' %>
            <main class="container">
                <% if @title %>
                    <h1 class="title"><%= @title %></h1>
                <% end %>

                <%= yield %>
            </main>
        <% else %>
            <section up-main>
                <%# TODO: DRY %>
                <% if @title %>
                    <h1 class="title"><%= @title %></h1>
                <% end %>

                <%= yield %>
            </section>
        <% end %>
    </body>
</html>
