/* @link https://utopia.fyi/clamp/calculator?a=360,1440,352—1200 */

:root {
  --fluid-352-1200: clamp(22rem, 4.3333rem + 78.5185vw, 75rem);

  --body-color: oklch(25.2% 0 0);
  --navbar-color: oklch(40% 0.03 265);
}

body {
    color: var(--body-color);
}

/* == Layout == */

.container {
    margin-inline: auto;
    max-width: var(--fluid-352-1200);
}

/* == Components - top navbar == */ 

/* == Components — flashes == */ 

.flash {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/* == Components - buttons == */

.buttons {
    & > :is(a, input, button, span) {
        display: inline-block;

        & + :is(a, input, button, span) {
            margin-left: 0.5em;
        }
    }
}

input:is([type=submit], [type=reset]) {
    width: revert;
}

button.close {
    font-size: 80%;
    border: none;
    text-align: center;
    margin: 0;
    line-height: 1;
    aspect-ratio: 1;
    padding: 0.3em;
    border-radius: 1em;

    color: currentColor;

    &:hover,
    &:focus {
        background: var(--bg-muted);
        color: currentColor;
    }
}

/* == Components - forms == */

.field-group, .form-horizontal {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}

.field-group {
    input, select, textarea {
        width: auto;
        flex: 0 0 auto;
    }
}

.form-horizontal {
    .buttons {
        align-self: end;
    }
}

.error_message {
    color: var(--danger);
}

/* == Components - flashes == */

/* == Components — lists */

:is(ul, ol).list-grid {
    display: grid;
    grid-template-columns: 1fr fit-content(25%);

    li {
        display: grid;
        grid-column: 1 / span 2;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
    }
}

:is(ul, ol).items-list {
    list-style: none;
    padding: 0;

    li {
        padding: 0.5em;

        & + li {
            border-top: 1px solid var(--muted);
        }
    }
}

/* == Pages — expenses == */

.expense-tag {
    --bg: var(--muted);
    color: var(--contrast);
    background-color: var(--bg);

    padding: 0.25em 0.5em;

    &.is-paid {
        --bg: var(--success);
    }

    &.is-urgent {
        --bg: var(--attention);
    }
}

.expenses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;

    & > section {
        max-width: revert;
        margin: 0;
        border: 1px solid var(--muted);
        border-radius: 1em;
        padding: 0.5em;
        contain: paint;

        display: flex;
        flex-flow: column;

        & > header {
            display: flex;
            gap: 1em;

            .checkbox {
                margin: 0;
            }

            .bill-tag {
                margin-left: auto;
                border-bottom-left-radius: 0.5em;
                isolation: isolate;

                box-shadow: 1em -1em 0 1em var(--bg);
            }
        }

        & > .content {
            flex-grow: 1;
        }
    }
}

/* == Utilities — typography */

.has-text-right {
    text-align: right;
}
