script src="https://accounts.google.com/gsi/client"

#g_id_onload(
  data-client_id=@google.client_id
  data-context="signin"
  data-ux_mode="popup"
  data-login_uri=@google.login_uri
  data-auto_prompt="false")

.g_id_signin(
  data-type="standard"
  data-shape="rectangular"
  data-theme="outline"
  data-text="$ {button.text}"
  data-size="large"
  data-logo_alignment="left"
)
