.form-container
  - form({ method: :post, action: form_action }, obj: @form_data, errors: @form_errors) do |f|
    == f.input(:name, required: true, label: field_name(Category, :name))
    == f.input(:parent_id, type: :select, label: field_name(Category, :parent), options: category_parent_options)
    == f.button(value: t('actions.save'), formatter: :default, class: 'button is-success')
