li
  div
    - if parent
      span.muted= "#{parent.name}\u00A0/\u00A0"
    span= category.name
  a.button.is-primary.is-small *MODAL_LINK_ATTRS href="/categories/#{category.id}/edit" = t('actions.edit')
- if category.children.present?
  == each_partial category.children, 'categories/index_row', local: :category, locals: { parent: category }
