.buttons
  = new_link t('actions.new'), '/categories/new', **MODAL_LINK_ATTRS


ul.list-grid.items-list
  == each_partial @categories, 'categories/index_row', local: :category, locals: { parent: nil }
